@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*I'm going to keep this page, just because people like to know that their input worked and was successful*@

<h1>Success</h1> 
<br />
<h4>Click <a href="ViewMovies">here</a> to see the movies.</h4>