@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >This is Joel's Movie App</h1>
    <p>Because I have an awesome collection, I need an awesome app.</p>
</div>
<div class="text-center">
    <img src="~/img/JoelHilton.jpg" />
</div>
